# Backend Kubernetes (défaut)
# BACKEND_URL=http://192.168.56.111:30080
# BACKEND_HOST=api.ecommerce.local
# FRONTEND_PORT=80

# Backend Monolithique Local
BACKEND_URL=http://192.168.56.11:3000
BACKEND_HOST=api.ecommerce.com
FRONTEND_PORT=80

# Backend Docker
# BACKEND_URL=http://backend:3000
# BACKEND_HOST=api.ecommerce.local